h1{border-bottom:1px solid gray;
  margin:0px;
  padding: 20px;
  text-align: center;
  font-size: 50px;
}
h2{font-size: 35px;
margin-top: 20px;
margin-left:17px;}
a {text-decoration: none;
}
ol{border-right:1px solid gray;
width:100px;
margin: 0px;
padding:20px;
font-size: 18px;}
#grid{display:grid;
grid-template-columns: 150px 1fr;}
#grid ol{padding-left: 33px;}
#grid #article{ padding-left: 25px;}
img{margin-left: 17px;}
@media (max-width: 900px) {
  #grid{display: block;}
ol{border-right: none;}
}
